<!DOCTYPE html>
<html>
    <%- include('.././partials/headIndexBarraLat')%>
    <body>
        <%- include('.././partials/headerConBarraLat')%>


        <%- include('.././partials/footer')%>
        
    <script src="/js/front.js">
        
    </script>
    </body>
</html>